/* @group [form] ----------------------------------------------------------------------------------------*/
/* 選單區塊 */
.form_group {
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 10px 0px;
}

/* form_group寬度 */
.form_group_100 {
  width: 100%;
}

.formLayout {
  min-width: 360px;

  &.setting-form {
    padding: 24px;
  }
}
.input-group-container {
  padding: 2px 0px 4px 0px;
  margin-bottom: 8px;

  .input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-color: #f5f8fa;

    label {
      padding: 0 16px;
      font-size: 14px;
      line-height: 22px;
      // height: 22px;
      color: var(--gray-80);
    }

    input {
      border-radius: 0;
      border-bottom: 2px solid #657786;
      width: 100%;
      line-height: 26px;
      padding-left: 16px;
    }
  }

  .error-message-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--main-white);
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-80);
    height: 24px;
    span.error {
      margin-top: 2px;
      color: var(--gray-80);
      min-height: 1.2rem;
    }
    .limit-num {
      margin-left: auto;
    }
  }
}

.login-container {
  display: flex;
}
