.modal-outer-container {
  //@要看modal樣式的話把display:block
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;

  &.modal-transparent-bk {
    background: #17172540;
  }

  .modal-flex-box {
    width: 100%;
    height: 100%;
    //@ 定位modal
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
  }
}

.modal-container {
  width: 634px;
  min-height: 300px;
  //@ test border
  // border: 5px solid teal;
  background: var(--main-white);
  border-radius: 14px;
  position: absolute;
  left: calc(50% - 317px);
  top: 56px;
  overflow: hidden;
  .modal-content {
    width: 100%;
    height: auto;
    position: relative;

    //@ 若modal內容太大，需要設定最高高度的話，內容overflow時捲動
    // max-height: 500px;
    // overflow-y: auto;
    // overflow-x: hidden;

    .profile-bk-clip {
      width: 100%;
      height: 200px;
    }
    .avatar {
      position: absolute;
      top: 124px;
      left: var(--margin-s);
      .user-avatar {
        width: 140px;
        height: 140px;
        border: 4px solid var(--main-white);
      }
    }
  }
}

// ModalHeader component
.modal-header {
  width: 100%;
  height: 56px;
  padding: 16px;
  border-bottom: 1px solid var(--main-border);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .icon-close {
    filter: var(--icon-main-color);
    margin-right: 32px;
    cursor: pointer;
    padding: 8px;
  }

  &.modal-header-with-btn {
    h5 {
      width: 100%;
    }
  }
}

//modalTweet
.modal-container {
  .modal-content {
    &.modal-tweet-content {
      .tweet-form-wrapper {
        border-bottom: none;
        height: auto;
        .form-group-inner-wrapper {
          min-height: 171px;
          .grow-wrap {
            min-height: 146px;
          }
        }
        .avatar {
          position: relative;
          top: unset;
          left: unset;
          .user-avatar {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}
